.brand-logo {
    margin-left: 10px !important;
}

.card.small .card-image {
    height: 200px;
}

.card .card-content {
    padding-top: 0;
}

.card .card-content .material-icons{
    padding-top: 10px;
}

#footer {
    margin-top: 50px;
    padding: 10px 0;
}

#footer a {
    color: white;
}

.info {
    padding: 20px;
}

.activated {
  border-bottom: solid 3px #EE6E73 !important;
}
